.footer {
    position: relative;
}

.footer_container {
    height: 800px;
    background-color: #332fd0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dark .footer_container{
    background-color: #395B64;
}

.box {
    position: relative;
    top: 70px;
}

.footer_logo {
    margin-top: 250px;
}

.footer_logo > img {
    width: 150px;
    height: 150px;
    background-color: #332fd0;
    border-radius: 20px;
}


.hit_line {
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 50px;
}

.creator {
    color: white;
    margin-top: 40px;
}

.soical_media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    height: 30px;
}

.btnn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid white;
    background-color: #332fd0;
}

#dark .btnn
{
    background-color: #395B64;
}

.btnn:hover{
    background-color: white;
}

.icon{
    font-size: large;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.icon:hover{
    font-size: large;
    font-weight: bold;
    color: #332fd0;
}

#dark .icon:hover{
    color:#2C3333
}
