.footer {
    position: relative;
}

.footer_container {
    height: 800px;
    background-color: #332fd0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dark .footer_container{
    background-color: #395B64;
}

.box {
    position: relative;
    top: 70px;
}

.footer_logo {
    margin-top: 250px;
}

.footer_logo > img {
    width: 150px;
    height: 150px;
    background-color: #332fd0;
    border-radius: 560px;
}


.hit_line {
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 50px;
}

.creator {
    color: white;
    margin-top: 40px;
}

.soical_media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    height: 30px;
}



.btnn:hover{
    background-color: white;
}

.icon{
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.icon:hover{
    color: black;
}

#dark .icon:hover{
    color:#2C3333
}

.github{
    color: black, 
}