.header{
    display: flex;
    align-items: center;
    height: 100px;
    margin-top:0px;
    position: sticky;
    z-index: 100;
    }

.RightOne{
    flex:1
}

.logo{
    width: 100px;
    margin-top:10px;
    margin-left: 50px;
    object-fit: contain;
    border-radius: 560px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.nav__options{
    display: flex;
    margin-left: 20px;
    margin-right:30px ;
}


.option3{
    margin-right: 100px;
}


.option1  :focus, :visited,:link {
        text-decoration: none;
        color: black;
    }
 
#dark .option1 {
    text-decoration: none;
    color: white;
}    



.option2  :focus, :visited,:link {
    text-decoration: none;
    color: black;
}

#dark .option2{
text-decoration: none;
color: white;
}    

.option3  :focus, :visited,:link {
    text-decoration: none;
    color: black;
}

#dark .option3 {
text-decoration: none;
color: white;
}    

.option1:hover{
    color: #332FD0;
}
.option2:hover{
    color: #332FD0;
}

.option3:hover{
    color: #332FD0;
}

#dark .option1:hover{
    color: #332FD0;
}
#dark .option2:hover{
    color: #332FD0;
}

#dark .option3:hover{
    color: #332FD0;
}

