.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.head__line {
    font-size: 25px;
    font-weight: bolder;
}

.head__line > h1 {
    margin-bottom: 10px;
}

.tag__line {
    font-size: 21px;
    font-weight: lighter;
}

#dark .head__line {
    color: white;
}

#dark .tag__line{
    color: white;
}


.avatar__image {
    width: 200px;
    height: 200px;
    margin-top: 60px;
}

.computer__image {
    margin-top: 100px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #332fd0;
    height: 800px;
    margin-bottom: -300px;
}

#dark .banner{
    background-color: #395B64;
}


.head {
    margin-top: 100px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.description {
    margin-left: 300px;
    margin-right: 250px;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    word-break: break-word;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    background-color: #fdf6ec;
    border-radius: 10px;
    height: 800px;
}

#dark .skills{
    background-color: #DDDDDD;
}

.work {
    height: 1000px;
    margin-bottom: -100px;
}

.box {
    margin: 0px 30px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #0e185f;
    height: 150px;
    /* width: 100px; */
    border-radius: 20px;
}

#dark .box{
    background-color: #51557E;
}



.headings {
    color: white;
    margin: 0px;
    padding: 0px;
}

.para {
    word-break: break-word;
    text-align: center;
    color: white;
    width: 400px;
}

.btn_inside {
    width: 200px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    border: #332fd0 solid 2px;
    background-color: #0e185f;
    color: white;
}

#dark .btn_inside{
    background-color:#51557E ;
    border: white solid 2px;
}

.btn_inside:hover {
    background-color: #332fd0;
    transition: all 0.5s;
}


#dark .btn_inside:hover {
    background-color: #395B64;
    transition: all 0.5s;
}

.let_start {
    margin-bottom: -100px;
}
